/* navbar */

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 5px;
    gap: 1rem;
    border-bottom: solid 1px #aaa;
    background-color: #aaa;
}

nav a {
    min-width: 9rem;
    border-radius: 0.3rem;
    border: solid black;
    background-color: aliceblue;
    text-decoration-line: none;
    padding: 5px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* navbar */


.content {
    display: grid;
    place-content: center;
}

.memeButton {

    width: 15rem;
    margin: 5px;
    box-shadow: -1px 5px 10px 5px rgba(5, 5, 5, 0.2);

    margin: 10px 120px;
}

.image {
    width: 500px;
    border-radius: 5px;
    border-color: black;
    box-shadow: -1px 5px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}